.header {
    text-align: center;
    margin: 25px;
    background-color:lightgray;
    border: black;
    border-radius: 20px;
    border-style: solid;
}

.header p {
    font-size: 20px;
    color: green;
}